/* Body */
body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}
h1,
h2,
h3,
p {
  /* margin-top: 0;
  margin-bottom: 0; */
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.page_header {
  font-weight: 700;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);

  width: 100%;
  background: var(--WHITE, #fff);
  margin-top: 0;
  margin-bottom: 0;
}
.page_header > .container {
  display: flex;
  padding: 0 15px 0 15px;
  /* justify-content: space-between; */
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  justify-content: space-between;
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-address {
  display: flex;
  gap: 40px;
}

.site-menu {
  display: flex;
  justify-content: left;
  align-items: center;
}
.item:last-child {
  margin-right: 0;
}

.nav_menu {
  font-weight: 500;
  list-style: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  padding: 24px 0;
}
.item {
  padding: 24px 0;
  display: block;
}
.address_link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  padding-left: 0;
}

a {
  text-decoration-line: none;
  /* display: block; */
}
a:focus {
  color: #404bbf;
}

a:hover {
  color: #404bbf;
}

/* logo_web */
.logo {
  font-family: "Raleway", sans-serif;
  background: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS, #4d5ae5);

  margin-right: 76px;
}
.logo-web {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 18px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.address-style {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: lowercase;
  font-style: normal;
}
.current::after {
  width: 48px;
  height: 4px;
  content: "";
  border-radius: 2px;
  background: var(--OCEAN, #404bbf);
  display: block;
  position: fixed;
  margin-top: 20px;
}

/* section */
.section-one {
  background-color: #2e2f42;
  padding: 188px 0;
  margin-top: 0;
  padding-bottom: 188px;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.container_centre {
  text-align: center;
}
.section-one-head {
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  /* padding-top: 188px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 48px;

  max-width: 496px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.start-section-two {
  padding: 120px 0;
  margin-top: 0;
  margin-bottom: 0;
}

.list-section-two {
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 8px; */
  width: calc(100%- (3 * 24px) / 4);
}
.list-section-two:last-child {
  margin-right: 0;
}
.section-two-svg {
  display: block;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  text-align: center;
  padding: 24px 100px;
}

.container-section-two {
  display: flex;
  gap: 24px;
  margin-bottom: 0;
}

/* section 4 */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.our-team {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
  /* background-color: #f4f4fd; */

  margin-bottom: 72px;
}
.card-our-team p {
  text-align: center;
}
.our-team-list {
  display: flex;

  gap: 24px;
}

.foto {
  background-color: #ffffff;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

  border-radius: 0px 0px 4px 4px;
}
.our-foto {
  /* margin-bottom: 32px; */
  margin-top: 0;
  width: calc(100%- (3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}
,
.foto > .section-two {
  margin-bottom: 8px;
}

.card-our-team {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Header 3 */

.section-two {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  font-weight: 500;
  margin-bottom: 8px;
}
.card-our-team > .section-two {
  text-align: center;
  margin-bottom: 8px;
}
.section-our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 732px;
}

/* section 4 */

.section-portfolio {
  padding: 120px 0 120px 0;
  margin-top: 0;
  margin-bottom: 0;
}
.container-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.container-portfolio li:nth-child(3n + 3) {
  margin-bottom: 0;
  margin-right: 0;
}
.list-portfolio {
  width: calc(100% - 48px) / 3;
}
.content-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.content-portfolio h3 {
  text-align: left;
  margin-bottom: 8px;
}
/* small_text */
.main-content {
  color: #434455;
  font-size: 14px;
  line-height: 1.4; /* 19.6px */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* padding-bottom: 8px; */
}

/* Button Text */
.button-style {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  font-weight: 500;
  cursor: pointer;
  min-width: 169px;
  padding: 16px 32px;
  margin-bottom: 188px;
  margin-top: 48px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  display: block;
  align-items: flex-start;
  gap: 10px;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.button-style:hover {
  background-color: #404bbf;
}
.button-style:focus {
  background-color: #404bbf;
}

/* Body Medium */
.body_medium {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/* footer */
.footer-main {
  background-color: #2e2f42;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 312px;
  padding: 100px 0;
}
.footer-p {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.logo-studio {
  color: #f4f4fd;
  font-size: 18px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS, #4d5ae5);

  display: inline-block;
  margin-bottom: 16px;
}
